*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
section{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.cards{
    width: 60%;
    padding: 20px;
border-radius: 30px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.image_box img{
    padding: 5%;
    width: 90%;
    height: 80%;
}
.details p:nth-child(1){
    font-weight: bold;
}
.details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: grey;
}
.details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(70, 33, 96);
     color: white;
    outline: none;
    border-radius: 2px;
}